<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    {{>include/header}}
</head>

<body>

<!-- Navigation -->
<!--<div th:include ="include/navigation.html" ></div>-->
<div>{{>include/navigation}}</div>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <table class="table">
                <thead>
                <tr>
                    <td>글번호</td>
                    <td>가게이름</td>
                    <td>지역</td>
                    <td>작성자 아이디</td>
                    <td>작성일자</td>
                    <td>조회수</td>
                    <td>좋아요 수</td>


                </tr>
                </thead>

                <tbody>
                <!--<tr th:each="board : ${boardList}">-->
                {{#boardList}}
                <tr>
                    <!--<td th:text="${board.seq}"></td>-->
                    <td>{{seq}}</td>
                    <!--<a href="#" th:href="@{/boardlist/readboard/{seq}(seq=${board.seq}}">-->
                    <!--<td  th:text="${board.title}"></td>-->
                    <td>{{title}}</td>
                    <!--<td th:text="${board.location}"></td>-->
                    <td>{{location}}</td>
                    <!--<td th:text="${board.img}">작성자입니다.</td>-->
                    <td> {{member.memberId}}</td>
                    <!--<td th:text="${#temporals.format(board.reportingDate, 'yyyy-MM-dd')}"> board</td>-->
                    <td> {{createDate}}</td>
                    <td> {{readCount}}</td>
                    <td> {{likeCount}}</td>
                    <!--<td th:text="${board.description}">2017.11.11</td>-->
                    <!--<td th:text="${#board.format(board.regdate, 'yyyy-MM-dd HH:mm')}">1</td>-->
                </tr>
                {{/boardList}}
                </tbody>
            </table>

            <br>
            <div id="success"></div>
            <div class="form-group">
                <a href="/board/writeboard">
                    <button class="btn btn-primary" id="writeButton">글쓰기</button>
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<div>{{>include/footer}}</div>
<!--<div th:include="include/footer.html"></div>-->

<!--script-->
{{>include/script}}

</body>

</html>
