<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" content="application/x-www-form-urlencoded">
    <title>Title</title>
</head>
<body>

<form action="/api/boardlist/add" method="post" >
    <label>
        <input type="text" name="description" id="description"/>
    </label>
    <label>
        <input type="text" name="title" id="title"/>
    </label>
    <label>
        <input type="text" name="location" id="location"/>
    </label>
    <div>
    <button type="submit">보냄</button>
    </div>
</form>

</body>
</html>